.scroll-container {
    overflow-y: auto;         /* Cho phép cuộn */
    -ms-overflow-style: none; /* Ẩn trên IE và Edge */
    scrollbar-width: none;    /* Ẩn trên Firefox */
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none;            /* Ẩn trên Chrome, Safari */
  }